
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>
    HOME/ADMİN
</h2>
<br />
<h1 style="color:#00ff21">
    HELLO WORLD
</h1>

<a href="/Home/Test2" class="btn btn-danger">test</a>
